body {
    font-family: Arial, sans-serif;
    background: #000000;
    margin: 0;
    width: 100%;
  }
  
  .semi-circle-progress {
    position: absolute;
    top: 0.5rem;
    left: 1rem;
    width: 90px;
    height: 35px;
    z-index: 9999;
    text-align: center;
    font-family: sans-serif;
    padding-bottom: 7px;
  }
  
  .semi-circle-progress svg {
    width: 100%;
    height: 100%;
  }
  
  .progress-label {
    position: absolute;
    top: 17px;
    left: 51%;
    padding-bottom: 20px;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 12px;
    color: #e17c10;
  }
  
  .header {
    position: absolute;
    height: 60px;
    top: 0;
    right: 0;
    color: #fff;
    width: 100%;
    z-index: 100;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9));
  }
  
  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
  }
  
  .header-navigation ul {
    display: flex;
    text-transform: capitalize;
    font-size: 1rem;
    list-style: none;
    font-weight: 700;
    text-decoration: none;
  }
  
  .header-navigation ul li {
    padding-left: 2rem;
  }
  
  .header-navigation ul li a {
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
    border-bottom: 2px solid transparent;
    transition: border 0.5s;
  }
  
  .header-navigation ul li a:hover {
    border-bottom: 2px solid #e17c10;
  }
  
  .header-navigation .logo {
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 50px;
  }
  
  @media only screen and (max-width: 50em) {
    .header-navigation ul {
      display: none;
    }
  
    .header-navigation .nav-icon {
      display: block;
      border: 1px solid #fff;
    }
  }
  
  .profile-container {
    max-width: 100%;
    margin: 0 auto;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Top Section */
  .top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: #313131;
    padding-top: 90px;
    padding-left: 60px;
  }
  
  .avatar-name {
    display: block;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    padding: 1px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e17c10;
  }
  
  .username {
    font-size: 1.5rem;
    margin: 0;
  }
  
  /* Badge Style */
  .badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
  }
  
  .badge-img {
    width: 100px;
    height: 100px;
  }
  
  /* Bottom Section */
  .bottom-section {
    display: flex;
    gap: 40px;
    padding: 30px;
    background: #555;
    flex-wrap: wrap;
  }
  
  .user-info {
    flex: 0 0 auto;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
    max-width: 20%;
    color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #404040;
    width: fit-content; /* Only take up as much horizontal space as needed */
    height: fit-content; /* Only take up as much vertical space as needed */
  }
  
  .user-info .username {
    margin: 0;
    font-size: 1.4rem;
  }
  
  .user-info p {
    margin: 0;
    font-size: 0.95rem;
    text-align: left;
  }

  .right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .progress-bars {
    flex: 1;
  }
  
  .spider-chart {
    flex: 1;
  }
  
  .progress-item {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #404040;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .progress-gif {
    height: 50px;
    width: 80px;
    object-fit: cover;
  }
  
  .progress-item h1 {
    font-size: 1.1rem;
    margin: 0;
    width: 180px;
  }
  
  .progress {
    flex-grow: 1;
    height: 20px;
    appearance: none;
  }
  
  /* Progress bar color */
  progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
  }
  
  progress::-webkit-progress-value {
    background-color: #3498db;
    border-radius: 10px;
  }

  .spider-chart{
    background-color: #787777;
    border-radius: 50px;
  }
  
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  /* Responsive */
  @media (max-width: 600px) {
    .bottom-section {
      flex-direction: column;
      align-items: center;
    }
  
    .right-content {
      width: 100%;
    }
  }
  